.mensagem { color:blue; }
.mensagem .erro { color:red; }
.header { background-color: steelblue; color: white; text-align: left; }
.oddRows { padding-left: 5px; background-color: lightcyan; }
.evenRows { padding-left: 5px; background-color: lightskyblue; }
.table { width: 750px; }


